html {
	box-sizing: border-box;
}

*, 
*:before,
*:after{
	box-sizing: inherit;
}

body{
    background-color: #fff;
    color: #000;
    font-family: avenir, sans-serif;
    font-size: 19px;
    margin: 0 auto !important;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "title title  title"
        "menu  menu  menu"
        "main  main  main"
        "main1  main1  main1"
        "main2  main2  main2"
        "main3  main3  main3"
        "foot  foot  foot"; 
}

p {
    max-width: 50em;
}

.header{
  grid-area: title;
  background-color: #303030;
  padding-right: 1em;
  color: white;
} 

#menu{
  grid-area: menu;
  background-color: #B8E97B;
}

.main{
  grid-area: main;
  background-color: floralwhite;
  padding: 0.2em 2em;
}

.main1, {
  grid-area: main1;
  background-color: floralwhite;
  padding: 0.2em 2em;
}

.main2{
  grid-area: main2;
  background-color: floralwhite;
  padding: 0.2em 2em;
}

.main3{
  grid-area: main3;
  background-color: floralwhite;
  padding: 0.2em 2em;
}

.foot {
  grid-area: foot;
  background-color: #303030;
  padding: 0.2em 1em;
  color: white;
}

/*---------------Header---------------*/
header {
  display: flex;
  flex-flow: row;
}

.titel-main{
  text-align: left;
  font-size: 35px;
  top: 20px;
  padding-left: 20px;
}

/*---------------Nav styles---------------*/
nav {
  position: relative;
  padding: 0;
  margin: 0;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  height: 100%;
}

nav ul {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex-grow: 1;
  display: flex;
  padding: 1em;
  margin: 0.4em;
  list-style: none;
  justify-content: center;
}

nav ul li:hover {
  background-color: darkseagreen;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

.li-active{
  color: black;
  font-weight: bold;
  background-color: darkseagreen;
  padding: 10px 16px;

}

/*---------------Hamburger menu---------------*/
.menutoggle{
  margin-left: auto;
}

.menutoggle a{
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.active{
  max-height: 670px;
  transition: max-height 1s;
}

.inactive{
  max-height: 0px;
  transition: max-height 1s;
    font-size: 23px;
}

/*---------------Teksten---------------*/
h1{
  font-weight: bolder;
}

h2{
  font-weight: bolder;
}

h3 {
  font-size: 1.3em; 
  font-weight: bolder;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: black;
}

/*---------------Home---------------*/

#main1-index{
  display: none;
}

#main2-index{
  display: none;
}

.pf {
    float: right;
    width: 30%;
}


/*---------------Wearables---------------*/
#wearables{

}

#wearables-tat{
  width: 50%;
  height: auto;
/*  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

#wearables-chart{
  width: 10%;
  height: auto;
/*  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

.fotos-wearables{
  
}

/*---------------Articifial creatures---------------*/
#ac-media{
  float: none;
}
.ac-foto{
  width: 100%;
  height: auto;
}
/*---------------AR & VR---------------*/
#ar-tech{
  /*float: left;*/
}

.ar-img{
  width: 100%;
  height: auto;
}

.ar-vid{
  width: 100%;
  height: 200px;
}

/*---------------Arduino---------------*/
.fotoarduino {
    width: 75%;
}

/*---------------Excursion---------------*/
.pfnemo {
    width: 50%;
    float: right;
    padding-left: 50px;
}

.nemoimg {
  float: left;
  padding: 10px;
  margin-bottom: 80px;
  max-width: 25%;
  height: auto;
}

.nemoimg1 {
  float: right;
  width: 20%;
}

iframe {
    float: center;
    margin-bottom: 70px;
}

/*---------------Lab weeks---------------*/
.labweken {
    width: 30%;
}

.dag1 {
    width: 30%;
    padding-right: 1em;
}

.dag1-1 {
    width: 15%;
}

.dag2 {
    width: 22%;
    padding-right: 1em;
}

.dag2-1{
    float: left;
    width: 25%;
    padding-right: 2em;
}

.dag3 {
    width: 34%;
    padding: 1em;
}

.dag3-1 {
    width: 50%;
    padding: 1em;
}
.con {
    margin: 0;
}

.dag4 {
    width: 33%;
    padding: 1em;
}

/*---------------Tablet en groter---------------*/
@media only screen and (min-width: 900px){
  h1 {
    text-align: left;
    font-size: 34px;
  }

  nav ul{
    display: flex;
    flex-flow: row;
    width: 100%;
  }

  nav ul li {
    padding: 0.5em;
    border-bottom: unset;
  }

  .menutoggle{
    display: none;
  }

  .active, .inactive{
    max-height: unset;
    
  }


  /*---------------Articifial creatures---------------*/
  #ac-media{
    float: left;
  }

  .ac-foto{
    width: 45%;
    height: auto;
  }


  /*---------------AR & VR---------------*/
  #ar-tech{
    float: left;
  }

  #ar-img{
    width: 45%;
    height: auto;
  }

  #ar-vid{
    width: 100%;
    height: 500px;
  }

  /*---------------Vr environments---------------*/
.madmapper {
    width: 25%;
    padding-right: 2em;
}

.imgtekst {
    font-weight: bolder;
    font-size: 19px;
}

.banana {
    width: 40%;
    padding: 1em 1em 0em 1em;
}

  /*---------------Playful interactions---------------*/

.link {
    color: green;
    font-weight: bolder;
}

  /*---------------Computer vision---------------*/
  img{
    width: 60%;
}
    
 video{
    width: 60%;
}